@page "/"

@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>

<br />
<br />
<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, Guest!</h1>
    </NotAuthorized>
</AuthorizeView>

<br />
<br />
<h3>Welcome to Queue List App.</h3>



@code{
    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavManager.NavigateTo("/Login", true);
        }
    }

}
