@inherits LayoutComponentBase


@*<header>
  <NavMenu />
</header>

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>*@

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>
</div>

